<br>
<form *ngIf="submitted==false" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
    <p style="text-align:center;">
        <mat-form-field appearance="standard">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-icon *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched"
                matTooltip="Niepoprawny format e-mail!" matTooltipPosition="right" matSuffix>error_outline</mat-icon>
            <mat-icon *ngIf="forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched" matSuffix>
                check</mat-icon>
        </mat-form-field>
        <mat-icon 
        matTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
        matTooltipPosition="right"
        matSuffix>help_outline</mat-icon>
    </p>
    <p style="text-align:center">
        <button mat-raised-button color="primary">Resetuj haslo</button>
    </p>

</form>        
<p *ngIf="submitted" style="text-align:center">
    <br><br>
    {{responseMessage}}
    <br>
    <a href="/">Powrot do logowania</a>
</p>
